@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-2xl;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-lg;
}


html,
body {
	height: 100%;
	font-weight: 400;
	overscroll-behavior-x: none;
}

body {
	overscroll-behavior-x: none;
}


a {
	
	text-decoration: none; /* no underline */
}


.separator {
	width: 90%;
	height: 2px;
	margin: 0.5rem auto 0.5rem auto;
	display: block;
}

.custom-scroll-bar::-webkit-scrollbar {
	width: 10px !important;
}

.custom-scroll-bar::-webkit-scrollbar-track {
	-webkit-border-radius: 10px !important;
	background-color: transparent !important;
	padding: 30px 3px !important;
	border-radius: 10px !important;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px !important;
	border: 2px solid #ebebeb !important;
	background: rgb(112, 112, 112) !important;
}
